body {
    padding: 2em;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .diamonds,
  .hearts {
    color: red;
  }
  .card-back {
    color: darkblue;
  }
  .color-4 .diamonds {
    color: blue;
  }
  .color-4 .clubs {
    color: green;
  }
  .suit {
    text-align: center;
  }
  .pip,
  .suit-name {
    font-size: 200%;
  }
  .tarot .pip { display: none; }
  .card {
    display: inline-block;
    font-family: 'Apple Symbols';
    font-size: 800%;
  }
  .moved {
    display: none;
  }
  .discarded {
    color: grey;
  }

  .buttonContainer {
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
  }
  .buttonContainer > div{
    justify-content: center;
    width: 441px;
  }

  .buttonContainer button {
    margin: 10px;
    height: 100%;
  }
  .buttonContainer > div {
    margin: 10px;
    justify-content: center;
  }